.div-conteudo {
    background-color: white;
    width: 600px;
    height: 400px;
    
    

}



h1 {
    font-size: large;
    text-align: center;
}

.imagem {
    width: 314px;
    height: 197px;
    margin-left: 136px;
    
}

p {
    font-size: medium;
}