.footer-paginas {
    height: 70px;
    background-color: limegreen;
    display: flex;
   
    
}

.logo1 {
    width: 70px;
    height: 50px;
    padding: 8px;
    align-items: center;
    
}

.footer-paginas{
    display: flex;
    justify-content: center;
    
}

.redes-sociais {
    /* margin-left: 560px; */
    justify-content: center;

}

.logo2 {
    width: 70px;
    height: 50px;
    padding: 8px;
}

.logo3 {
    width: 70px;
    height: 50px;
    padding: 8px;
}

