.footer-paginas {
    height: 70px;
    background-color: limegreen;
    display: flex;
   
    
}

.logo1 {
    width: 70px;
    height: 50px;
    padding: 8px;
    align-items: center;
    
}

.redes-sociais {
    margin-left: 560px;
}

.logo2 {
    width: 70px;
    height: 50px;
    padding: 8px;
}

.logo3 {
    width: 70px;
    height: 50px;
    padding: 8px;
}