.div-acontece {
    background-image: url('../../imagens/fundo.jpg');
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.acontece{
    background-color: lightgreen;
    width: 850px;
    height: 1070px;
    
}



